<!DOCTYPE html>
<html lang="en" >
<head>
  <meta property="og:title" content="Evgeniia Przhzedzetskaia"/>
  <meta property="og:description" content="ML/DL researcher"/>
  <meta property="og:image" content="../images/vouk.png"/>
  <meta property="og:type" content="profile"/>
  <meta property="og:url" content= "https://jehb4ik.github.io" />
  <meta property="og:image:secure_url" content="https://jehb4ik.github.io/images/vouk.png" />
  <meta property="og:image:type" content="image/png" />

  <meta charset="UTF-8">
  <title>{% block title %}{% endblock %}</title>
  <link rel="stylesheet" href="../static/style.css">
  <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Sintony"/>
</head>
<body>
  {% block content %}{% endblock %}
</body>
</html>
